.git
.gitignore
.DS_Store

**/.DS_Store
**/.next
**/.venv
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/node_modules
**/dist
**/build
**/coverage

frontend/.next
frontend/node_modules
backend/.venv
backend/__pycache__
